<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/test.js"></script>
</head>
<body>
<input type="button" id="add" value="add">
</body>
</html>